.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8vw;
    transform-style: preserve-3d;
    height: 100%;
    max-width: max-content;
    margin: auto;
    padding: 2rem 0;
}

.card-grid.active {
    z-index: 99;
}

@media (min-width: 600px) {
.card-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8vh 0vw;
    padding: 2rem 0;
}
}

@media (min-width: 900px) {
.card-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 0;
}
}