.login-container{
    font-family: "Heebo", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    .login-img-hold{
        flex-grow: 1;
    }
    .content-hold{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        padding: 1rem 1rem 7rem 1rem;
        justify-self: center;
        align-self: center;
        flex-grow: 1;
    }
    .login-heading{
        font-size: 400%;
        text-align: center;
        .login-heading-org{
            color: #38d0d0;
        }
    }
    .login-text{
        font-size: 113%;
        text-align: center;
        width:71%;
        padding: 0 0 1rem 0;
    }
    .input-row{
        align-self: center;
        text-align: center;
        width: 90%;
        padding: 1rem;
    }
    .go-btn-hold {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        .go-btn {
            width: 29.5%;
            height: 51px;
            border-radius: 140px;
            box-shadow: 4px 4px 40px 2px rgba(103, 106, 107, 0.15);
            border: solid 3px #fff;
            background-color: #cbf3f3;
            font-size: 120%;
            cursor: pointer;
            margin-right: 1rem;
        }
        .reset-btn{
            color: #38d0d0;
            text-decoration: underline;
            font-size: 20px;
            margin-left: 1rem;
        }
    }
}


@media (max-width: 1000px){
    .login-container{
        height: 100%;
        overflow-y: auto;
        font-size: 70%;
        .login-img-hold{
            display: none;
        }
        .content-hold{
            padding: 1.5rem;
            .login-text{
                width: 94.6%;
                font-size: 16px;
            }
            .login-heading{
                font-size: 410%;
            }
            .input-row{
                width: 100%;
            }
        }
        .go-btn-hold{
            display: block;
            .go-btn{
               margin: 0 0 1rem 0;
               width: 50.3%;
               font-size: 157%;
            }
            .reset-btn{
               margin-left: 0;
            }
        }
    }
}