.modal-hold{
    display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100vw;
    // height: 100vh;
    .modal-container{
        background-color: #fff;
        padding: 0rem 0.2rem 1rem 0.2rem;
        border: 1px solid darkgray;
        margin: 4rem auto;
        width: 60.87%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .modal-title{
            font-size: 230%;
            font-weight: bold;
            text-align: center;
            padding: 3.5rem 0 2.5rem 0;
        }
        .avatar-hold{
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            .avatar-box{
                margin: 0 1rem;
            }
        }
        .modal-row{
            padding: 1.2rem 0 0.5rem 0;
            width: 88.1%;
            display: flex;
            justify-content: space-between;
        }
        .modal-row-img{
            display: flex;
            justify-content: center;
            flex-grow: 0.63;
        }
        .go-btn-hold{
            text-align: center;
            width: 100%;
           .go-btn {
               width: 14.5%;
               height: 42px;
               border-radius: 60px;
               box-shadow: 4px 4px 40px 2px rgba(103, 106, 107, 0.15);
               border: solid 2px #e8e8e8;
               background-color: #cbf3f3;
               cursor: pointer;
               font-size: 105%;;
               margin: 2rem 0;
           }
        }
        
    }
}
